:root {
  --background-color: #4FADDF;
  --background-gradient: linear-gradient(to right, #36D1DC, #5B86E5);
  --color: #333;
  --font-size: 16px;
  --font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", Arial, sans-serif;

  --button-font-size: 16px;
  --button-font-family: var(--font-family);
  --button-font-weight: bold;
  --button-padding: 8px 16px;
  --button-width: 100%;
  --button-height: 40px;
  --button-border: 0;
  --button-background-color: #4FADDF;
  --button-color: #FFF;
  --button-background-color-active: #1c92d2;
  --button-color-active: #FFF;

  --input-height: 40px;
  --input-width: 100%;
  --input-padding: 8px;
  --input-font-size: 16px;
  --input-font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  --input-border: 1px solid #ccc;

  --topbar-background-color: #fff;
  --topbar-width: 100%;
  --topbar-height: 60px;

  --topbar-name-font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", Arial, sans-serif;

  --topbar-settings-control-background-color: var(--button-background-color);
  --topbar-settings-control-color: var(--button-color-active);
  --topbar-settings-control-background-color-active: var(--button-background-color-active, var(--button-background-color));
  --topbar-settings-control-color-active: var(--button-color-active, var(--button-color));

  --add-city-sidebar-border: 1px solid #eee;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  background: var(--background-gradient);
  color: var(--color);
  font-size: var(--font-size);
  font-family: var(--font-family);
}
