*, *::before, *::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
